# Local configurations
local.properties

.DS_Store
/.gradle
**/out
**/build
*.ipr
*.iws

# IntelliJ
.idea/caches
.idea/libraries
.idea/artifacts
.idea/modules
.idea/modules.xml
.idea/deployment.xml
.idea/gradle.xml
.idea/.name
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/workspace.xml
.idea/navEditor.xml
.idea/jarRepositories.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/render.experimental.xml
.idea/uiDesigner.xml
.idea/azureSettings.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
/captures
**/*.iml